<div class="container py-5">
<div class="row">
    <div class="col-lg-7">
    <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
        <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <div class="col-sm-10">
                    <h3 class="mb-0">
                        <strong> Bill Details </strong>
                    </h3>
                </div>
            </li>
                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless">
                      <thead style="background-color:#6d4779 ;" class="text-white">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Description</th>
                          <th scope="col">Amount</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Recharge</td>
                          <td>200 DH</td>
                          <td><a (click)="delete()" href="#" id="delete"><img src="../../../assets/delete-icon.jpg" ></a></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Sidaction donation</td>
                          <td>1500 DH</td>
                          <td><a (click)="delete()" href="#" id="delete"><img src="../../../assets/delete-icon.jpg" ></a></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Recharge</td>
                          <td>300 DH</td>
                          <td><a (click)="delete()" href="#" id="delete"><img src="../../../assets/delete-icon.jpg" ></a></td>
                        </tr>
                      </tbody>
          
                    </table>
                  </div>
            
        </ul>
        <div class="row">
          <div class="col">
              <h4>Total : </h4>
          </div>
          <div class="col-md-3">
              <h4> 1000 DH</h4>
          </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-lg-5">
        <div class="card mb-4">
            <div class="card-body">
            <div class="container">
              <div class="left">
                <h3 class="mb-0">
                  <strong> Bill Details </strong>
                </h3>
                <form>
                  Full name
                  <input type="text" name="" placeholder="Enter name">
                  Email
                  <input type="text" name="" placeholder="Enter email">
          
                  Address
                  <input type="text" name="" placeholder="Enter address">
                  
                  City
                  <input type="text" name="" placeholder="Enter City">
                  <div id="zip">
                    <label>
                      State
                      <select>
                        <option id="state">Choose State..</option>
                        <option>Marrakech-Safi</option>
                        <option>Casablanca-Settat</option>
                        <option>Rabat-Salé-Kénitra</option>
                        <option>Dakhla-Oued Ed-Dahab</option>
                      </select>
                    </label>
                      <label>
                      Zip code
                      <input type="number" placeholder="Zip code">
                    </label>
                  </div>
                </form>
                <a href="#" class="btn btn-sm animated-button victoria-three" data-bs-toggle="modal" data-bs-target="#exampleModal" id="pay">Pay</a>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="right">
                          <h3>PAYMENT</h3>
                          <form>
                            Accepted Card <br>
                            <img src="../../../assets/card1.png" width="100">
                            <img src="../../../assets/card2.png" width="50">
                            <br><br>
                    
                            Credit card number
                          <input type="text" name="" placeholder="Enter card number">
                            
                            Exp month
                            <input type="text" name="" placeholder="Enter Month">
                            <div id="zip">
                              <label>
                                Exp year
                                <select>
                                  <option>Choose Year..</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                  <option>2024</option>
                                  <option>2025</option>
                                </select>
                              </label>
                                <label>
                                CVV
                                <input type="number" name="" placeholder="CVV">
                              </label>
                            </div>
                          </form>
                          <div class="row">
                            <input type="submit" name="" value="Proceed to Checkout">
                            <input type="submit" data-bs-dismiss="modal" value="Close">
                          </div>
                          
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>

                
              </div>
              
          
            </div>
        </div>
