<div class="container  ">
    <div class="center" >
        <div class="card-body">
            <div class="row">
                <h1>
                    <img src="{{article.creditor.image}}">
                    {{article.creditor.name}}
                </h1>
            </div><br>
            <form #form="ngForm">
                <div class="row">
                    <div class="col-md">
                        <div class="inputbox">
                            <input type="text" required="required">
                            <span>Donator Name</span>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="inputbox">
                            <input type="text" [(ngModel)]="don" name="don" required="required">
                            <span>Donation Amount</span>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="input">
                <div class="row">
                    <div class="col">
                        <h4>Total : </h4>
                    </div>
                    <div class="col-md-2">
                        <h4>{{don}} DH</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row justify-content-end">
            <div class="col-md-4 "> <button class="btn btn-sm animated-button victoria-three" 
                data-bs-toggle="modal" (click)="donate()" data-bs-target="#exampleModal"  [disabled]="form.invalid">Add To Bill</button> </div>
            <div class="col-md-2 "> <button class="btn cancel animated-button victoria-three" (click)="cancel()">Cancel</button> </div>
        </div>
               
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <img src="../../../assets/verification.png" id="image"><br><br>
                    <h6 id="text">Votre Demmande est bien effectué !</h6>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </div>