<div class="sticky-top">

  <nav class="navbar top-navbar">
    <div class="img-container">
      <img src="../../../assets/home.png" alt="">
    </div>
    <div class="nav-items">
      <a class="nav-item" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <span class="menu-title">Charge</span>
      </a>

      <a (click)="billHistory()" class="nav-item">
        <span class="menu-title">Bills History</span>
      </a>
    </div>
  </nav>

  <nav class="navbar bottom-navbar">
    <a (click)="creditors()" class="nav-link">
      <span class="menu-title">Creditors</span>
    </a>
    <a (click)="products()" class="nav-link">
      <span class="menu-title">Products</span>
    </a>
    <a (click)="bill()" class="nav-link">
      <span class="menu-title">Bill</span>
    </a>
    <a (click)="orders()" class="nav-link">
      <span class="menu-title">Orders</span>
    </a>
    <a (click)="infos()" class="nav-link">
      <span class="menu-title">Infos</span>
    </a>
    <a (click)="LogOut()" class="nav-link">
      <span class="menu-title">Logout</span>
    </a>
    <div class="dot"></div>
  </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">PAYMENT</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!--        <form>-->
<!--          Accepted Card <br>-->
<!--          <img src="../../../assets/card1.png" class="modal-img">-->
<!--          <img src="../../../assets/card2.png" class="modal-img">-->
<!--          <br><br>-->

<!--          Credit card number-->
<!--          <input type="text" name="" placeholder="Enter card number">-->

<!--          Exp month-->
<!--          <input type="text" name="" placeholder="Enter Month">-->
<!--          <div id="zip">-->
<!--            <span>-->
<!--              Exp year-->
<!--              <select>-->
<!--                <option>Choose Year..</option>-->
<!--                <option>2022</option>-->
<!--                <option>2023</option>-->
<!--                <option>2024</option>-->
<!--                <option>2025</option>-->
<!--              </select>-->
<!--            </span>-->
<!--            <span>-->
<!--              CVV-->
<!--              <input type="number" name="" placeholder="CVV">-->
<!--            </span>-->
<!--          </div>-->
<!--        </form>-->
<!--        <div class="row">-->
<!--          <input type="submit" name="" value="Proceed to Checkout">-->
<!--          <input type="submit" data-bs-dismiss="modal" value="Close">-->
<!--        </div>-->
        <form class="form" #checkoutForm="ngForm">

          <input type="text" placeholder="amount" ngModel name="amount">
          <button class="btn btn-primary" (click)="onSubmit(checkoutForm)">OK</button>

        <app-stripe-payment *ngIf="secretKey" [secretKey] = "secretKey" [amount]="checkoutForm.value.amount"></app-stripe-payment>
        </form>
      </div>
    </div>
  </div>
</div>
