
<div class="sticky-top">

  <nav class="navbar top-navbar">
      <div class="img-container">
          <img src="../../../assets/home.png" alt="">
      </div>
  </nav>

  <nav class="navbar bottom-navbar">
    <a (click)="creditors()" routerLinkActive="router-link-active" class="nav-link">
        <span class="menu-title">Creditors</span>   
    </a>
    <a (click)="products()" routerLinkActive="router-link-active"  class="nav-link">
        <span class="menu-title">Products</span>   
    </a>
    <a (click)="bill()" routerLinkActive="router-link-active"  class="nav-link">
      <span class="menu-title">Bill</span>   
  </a>
    <a  (click)="LogOut()" routerLinkActive="router-link-active"  class="nav-link">
      <span class="menu-title">Logout</span>   
  </a>
  <div class="dot"></div>
  </nav>
</div>