<div class="sticky-top">

  <nav class="navbar top-navbar">
    <div class="img-container">
      <a (click)="creditors()" class="nav-link">
        <img src="../../../assets/home.png" alt="">
      </a>
    </div>
    <div class="nav-items">
      <a class="nav-item" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <span class="menu-title">Add balance</span>
      </a>

      <a (click)="billHistory()" class="nav-item">
        <span class="menu-title">Bills History</span>
      </a>
    </div>
  </nav>

  <nav class="navbar bottom-navbar">
    <a (click)="creditors()" class="nav-link">
      <fa-icon [icon]="faNewspaper"></fa-icon>
      <span class="menu-title">Creditors</span>
    </a>
    <a (click)="products()" class="nav-link">
      <fa-icon [icon]="faCartShopping"></fa-icon>
      <span class="menu-title">Products</span>
    </a>
    <a (click)="bill()" class="nav-link">
      <fa-icon [icon]="faFile"></fa-icon>
      <span class="menu-title">Bill</span>
    </a>
    <a (click)="orders()" class="nav-link">
      <fa-icon [icon]="faRectangleList"></fa-icon>
      <span class="menu-title">Orders</span>
    </a>
    <a (click)="infos()" class="nav-link">
      <fa-icon [icon]="faCircleInfo"></fa-icon>
      <span class="menu-title">Infos</span>
    </a>
    <a (click)="LogOut()" class="nav-link">
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
      <span class="menu-title">Logout</span>
    </a>
    <div class="dot"></div>
  </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Add Balance</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form" #checkoutForm="ngForm">
          <label class="label">Specify how much balance to add</label>
          <input type="text" class="input" placeholder="Amount" ngModel name="amount" required>
          <button class="btn btn-modal" (click)="onSubmit(checkoutForm)" [disabled]="checkoutForm.invalid">Execute</button>

        <app-stripe-payment *ngIf="secretKey" [secretKey] = "secretKey" [amount]="checkoutForm.value.amount"></app-stripe-payment>
        </form>
      </div>
    </div>
  </div>
</div>
