#creditCard{
    margin-top:2rem;
}

 .btn-confirm{
    width: 45%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
    justify-content: center;
    border-radius: 3px;
}

.btn-confirm:hover{
	background: #2c3e50;
}
