
<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../../assets/maroc_telecom.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col">
            <div class="card-body">
                <h4 class="card-title">
                    MAROC TELECOM
                </h4> <br>
                <h5 class="card-text">
                    Payez vos factures Maroc Telecom
                </h5>
                <br>
                <ul>
                    <li>
                        <h5 >Debt</h5>
                        <p>Abonnement Internet Amount : {{debt}} DH</p>
                    </li>
                    <li>
                        <h5 >Penalty</h5>
                        <p>Abonnement Internet Amount : {{penalty}} DH</p>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6 "> <a href="#" class="btn btn-sm animated-button victoria-three" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter à la Facture</a> </div>
                    <div class="col-md-5 "> <a href="#" class="btn btn-sm animated-button victoria-three" routerLink="/creditors">Annuler</a> </div>
                </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <img src="../../../assets/verification.png" id="image"><br><br>
                <h6 id="text">Votre Demmande est bien effectué !</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>