<!-- 
<div class="sticky-top">

    <nav class="navbar top-navbar">
        <div class="container nav-container">
            JABBAK_LAH
        </div>
    </nav>
</div> -->

<!-- <div class="shadow bg-white"> -->
    <div class="container bootstrap snippets bootdeys">
        <div class="row">
                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                            <div class="content">
                                <h3 class="title">Peiment Des Factures</h3>
                                <p class="description">Vous voulez payer vos factures ? Cliquez sur le lien suivant </p>
                                <h4 class="link">
                                    <a routerLink="/creditors" class="card-link">Liste Des Créanciers</a>
                                </h4>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>
            
                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                            <div class="content">
                                <h3 class="title">Acheter Des Produits</h3>
                                <p class="description">Vous voulez acheter des produits ? Cliquez sur le lien suivant </p>
                                <h4 class="link">
                                    <a routerLink="/products" class="card-link">Achetez Des Produits</a>
                                </h4>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>
            
        </div>
    </div>

<!-- </div> -->