<div class="page-wrapper row">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-lg-block col-2">
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li *ngFor="let tempProductCategory of response?.data?.pcategories">

            <a routerLink="./category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
              {{ tempProductCategory.categoryName }}
            </a>

          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container col">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">

          <app-search></app-search>

          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- ENDS PAGE CONTAINER -->
<!-- 
<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer> -->
