.page-wrapper{
    background:#e5e5e5;
    gap: 5rem;
}

.menu-sidebar{
    background:#6d4779;
    overflow-y:auto;
    box-shadow: 10px 0 5px -2px  rgba(115,115,115,0.75);
}

.navbar-sidebar{
    padding:35px;
    padding-bottom:0
}

.navbar-sidebar .navbar-list li a{
    display:block;
    color:#fff;
    font-size:16px;
    padding:5px 0;
    text-decoration: none;
    text-transform:uppercase
}

.navbar-sidebar .navbar-list li a:hover {
    color:#f6f4e6;

}

.navbar-sidebar .navbar-list li a:focus{
    color:#f6f4e6;
    font-weight: bold;
    text-decoration: underline;
}
