.container d-flex mt-4 p-4{
    margin: 30px 80px;
    padding-top: 40px;
    background-color: rgb(203, 212, 208);
    display: flex;
    column-count: 2;
}

.card{
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;

}
.img{
    padding: 20px;
}
/* 
#Radeema{
  height: 80px;
} */
 
  .text {
    font-size: 20px;
    padding-left: 20px;
  }
 
.row{
  padding: 8px;
}