.creditors {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  align-items: center;
  justify-content: center;
  flex: 1 1 40%;
  box-shadow: 0px 0px 30px #bababa;
}
.img {
  padding: 20px;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.cards {
  padding: 8px;
}
