<div class="container d-flex ">
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/maroc_telecom.jpg"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        MAROC TELECOM
                    </h5>
                    <p class="card-text">
                        payez vos factures Maroc Telecom
                    </p>
                            <ul>
                                <li><a routerLink="/abonnement" class="card-link">Abonnement Internet </a></li>
                                <li><a routerLink="/abonnement" class="card-link">Abonnement Appel</a></li>
                                <li><a routerLink="/recharge" class="card-link">Recharge</a></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/INWI.jpg"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        INWI
                    </h5>
                    <p class="card-text">
                        Payez vos Factures INWI 
                    </p>
                    
                            <ul>
                                <li><a routerLink="/abonnement" class="card-link">Abonnement Internet </a></li>
                                <li><a routerLink="/abonnement" class="card-link">Abonnement Appel</a></li>
                                <li><a routerLink="/recharge" class="card-link">Recharge</a></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>  
        
</div>
<div class="container d-flex mt-4 p-4">
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/radeema.jpg" id="Radeema"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        La RADEEMA
                    </h5>
                    <p class="card-text">
                        Payez vos Factures De La RADEEMA 
                    </p>
                    
                            <ul>
                                <li><a routerLink="/abonnement" class="card-link">Régler Mes Factures </a></li>
                                
                            </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-3" >
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/sidaction.png"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        SIDACTION
                    </h5>
                    <p class="card-text">
                        Merci d'effectuer vos dons par ce lien
                    </p>
                    
                            <ul>
                                <li><a routerLink="/donation" class="card-link">Espace Donateur </a></li>
                                
                            </ul>
                </div>
            </div>
        </div>
    </div>

</div>

